*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: start;
    background: linear-gradient(90deg,#e52e71,#ff9900);
}

.Container {
  background-color: rgb(227, 213, 253); 
  width: 240px;
  height: 380px;
  border-radius: 8px;
  margin: 20px;
}
.todo-input {
  padding: 8px;
  width: 100%; 
  height: 100%; 
  resize: none;
  overflow-y: auto;
}

.btnContainer {
  width: 60px;
  height: 60px;
  background-color: transparent;
  position: absolute;
  top: 90%;
  left: 50%;

}
.addContainerBtn {
  width: 100%;
  height: 100%;
  font-size: 30px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}